// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;

$poli_green: #B5C18E;
$cream_100: #F7DCB9;
$cream_300: #DEAC80;
$cream_500: #B99470;
$cream_700: #816F5D;

$gray-100: #f8f9fa;  // Very light gray
$gray-200: #e9ecef;  // Light gray
$gray-300: #dee2e6;  // Medium light gray
$gray-400: #ced4da;  // Medium gray
$gray-500: #adb5bd;  // Darker medium gray
$gray-600: #6c757d;  // Dark gray
$gray-700: #495057;  // Darker gray
$gray-800: #343a40;  // Very dark gray
$gray-900: #212529;
