<div class="footer-content">
  <footer>
    <p>&copy; <%= Date.today.year %> Polirent GmbH. All rights reserved.</p>
    <nav>
      <%= image_tag "Logo.png", :style => "width: 100px"  %>
    </nav>
    <nav><br>
      This App was made with <i class="fas fa-heart"></i> at Le Wagon
    </nav>
  </footer>
</div>
