.poli_btn_primary{
    background-color: $cream_700;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    // line-height: 1;
    margin-top: 1.5rem;
    min-width: 300px;
    text-decoration: none;
    padding: 8px 150px;
    border-radius: 25px;
    &:hover{
      background-color: $cream_500;
    }
  }

  .poli_btn_secondary{
    background-color: transparent;
    border: 2px solid $cream_700;
    color: $cream_700;
    font-weight: 500;
    // line-height: 1;
    margin-top: 1.5rem;
    min-width: 300px;
    text-decoration: none;
    padding: 8px 150px;
    border-radius: 25px;
    &:hover{
      background-color: $cream_100;
    }
  }

  .poli_btn_red{
    background-color: #D31638;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    // line-height: 1;
    margin-top: 1.5rem;
    min-width: 100px;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 25px;
    &:hover{
      background-color: #fe4164;
    }
  }

  .poli_btn_green{
    background-color: $poli_green;
    border: 0;
    color: $gray-800;
    font-weight: 500;
    // line-height: 1;
    margin-top: 1.5rem;
    min-width: 100px;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 25px;
    &:hover{
      background-color: #cad2b2;
    }
  }

  .link-login > a{
    color: $cream_700;
    text-decoration: none;
    margin: 16px;
  }

  .button-search{
    // border-radius: 0px 40px 40px 0px;
    padding: 16px;
    background-color: $cream_700;
    width: 150px;
    height: 64px;
    border: none;
    &:hover{
      background-color: $cream_500;
    }
  }
