.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%; /* Ensure the height is sufficient to align items vertically */
}

.footer p, .footer nav {
  margin: 5px 0; /* Adjust margin as needed for spacing */
}

.footer nav img {
  display: block;
  margin: 0 auto; /* Center the image within the nav */
}

.footer .fa-heart {
  color: red; /* Optional: Add some color to the heart icon */
}
