.input-box-search{
  // border-radius: 40px 0px 0px 40px;
  padding: 16px 40px;
  border: 1px solid $cream_700;
}

.border-radius-left{
  border-radius: 40px 0px 0px 40px;
}

.border-radius-right{
  border-radius: 0px 40px 40px 0px ;
}

.input-box{
    border-radius: 40px 0px 0px 40px;
    // padding: 16px 40px;
    border: 1px solid $cream_700;
    }
