<ul>
  <% bookings.each do |booking| %>
    <li>
    <p>booking id: <%= booking.id %></p>
    <p>booking status: <%= booking.status %></p>
    <%= button_to "Confirm", confirm_path(booking.id), method: :patch %>
    <%= button_to "Reject", reject_path(booking.id), method: :patch %>
    </li>
  <% end %>
</ul>
