<div class="container">
  <% bookings.each do |booking| %>
    <div class="border_card small_card my-2" data-controller="hiding" data-hiding-status-value="<%= booking.status %>">
      <div class="d-flex align-middle justify-content-between px-5">
        <div>
          <p><%= booking.user.email %></p>
        </div>
        <% if booking.status == "pending" %>
          <div class="d-flex align-middle" data-hiding-target="buttonDiv">
            <%= link_to "Confirm", confirm_path(booking.id), remote: true,
            data: { turbo_method: :patch,
            action: "click->hiding#toggleClass",
            hiding_target: "button"},
            class: "poli_btn_green",
            style: "margin: 8px" %>

            <%= link_to "Reject", reject_path(booking.id), remote: true,
            data: { turbo_method: :patch,
            action: "click->hiding#toggleClass",
            hiding_target: "button" },
            class: "poli_btn_red",
            style: "margin: 8px" %>
          </div>
        <% else %>
          <div>
            <div data-hiding-target="statusDisplay"></div>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
