
<div class="hero" style="background-image: asset-url('Room1.jpeg'); height: 300px; width: 100%; background-color: #343434"></div>
<div class="container">

  <h1 class="text-center">Rent your Politician!</h1>
  <div class="cards d-flex flex-wrap">

    <% @politicians.each do |poli| %>
    <%= link_to politician_path(poli.id) do %>
      <%= render partial: 'politician', locals: { politician: poli } %>
    <% end %>
  <% end %>

  </div>
</div>
