<div class="container ">
  <h1 class="text-center">Politicians Index</h1>
  <div class="d-flex flex-wrap">
  <% @politicians.each do |poli| %>
    <%= render partial: 'politician', locals: { politician: poli } %>
  <% end %>
  </div>
</div>
